<h1>${title}</h1>
<form name="survey-form" action="/" method="POST" class="form">
    ${classInfoData.map(topic => { return `
        <p>
            I am <strong>${topic.status_title}</strong> at ${topic.topic_name}.
            ${topic.rank} STARS!
            <hr/>
            <h2>New Score:</h2>
            ${statusData.map(status => { return `
                <label>
                    ${status.status_title}
                    <input type="radio" name="${topic.topic_name}" ${topic.status_id === status.id ? 'checked' : ''} value=${status.id} />
                </label>
            ` }).join('')}
        </p>
    ` }).join('')}
    <button type="submit">Update Rankings</button>
</form>
